---
import Logo from '@/components/shared/logo.astro';
import { siteConfig } from '@/config';

const footerLinks = [
  { label: 'A Empresa', href: '#about-us' },
  { label: 'Serviços', href: '#services' },
  { label: 'Contato', href: '#company-info' }
];
---

<footer>
  <div class={`${siteConfig.container} mx-auto px-4 py-4 sm:px-6 sm:py-6 lg:px-8 lg:py-8`}>
    <div class="flex items-center justify-between gap-3 max-md:flex-col">
      <a class="flex items-center gap-3 text-xl font-semibold text-base-content" href="#home">
        <Logo />
        {siteConfig.demoName}
      </a>
      <nav class="flex items-center gap-6">
        {footerLinks.map(link => (
          <a href={link.href} class="link link-animated font-medium text-base-content/80">{link.label}</a>
        ))}
      </nav>
      <div class="flex h-5 gap-4 text-base-content">
        <a href="https://wa.me/559189359657" target="_blank" rel="noopener noreferrer" aria-label="WhatsApp">
          <span class="icon-[tabler--brand-whatsapp] size-5"></span>
        </a>
        <a href="https://www.instagram.com/mota.divisorias/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
          <span class="icon-[tabler--brand-instagram] size-5"></span>
        </a>
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <div class={`${siteConfig.container} py-8`}>
    <div class="text-center text-base text-base-content">
      &copy;2025 Mota Divisórias • Belém / Ananindeua - PA
      <br class="md:hidden" />
      <span class="text-xs text-base-content/70">Rapidez, limpeza e acabamento profissional há 40 anos.</span>
    </div>
  </div>
</footer>
