---
import Logo from '@/components/shared/logo.astro';
import { siteConfig } from '@/config';

interface NavItem {
  label: string;
  href: string;
  class: string;
}

// Ajuste institucional mantendo classes
const navItems: NavItem[] = [
  { label: 'Serviços', href: '#services', class: 'hover:text-primary nav-link' },
  { label: 'A Empresa', href: '#about-us', class: 'hover:text-primary nav-link' },
  { label: 'Contato', href: '#company-info', class: 'hover:text-primary nav-link' }
];
---

<header class="fixed top-0 z-10 w-full border-b border-base-content/20 bg-base-100 py-0.25">
  <nav class={`navbar rounded-b-xl ${siteConfig.container} `}>
    <div class="w-full lg:flex lg:items-center lg:gap-2">
      <div class="navbar-start items-center justify-between max-lg:w-full">
        <a class="flex items-center gap-3 text-xl font-semibold text-base-content" href="#home">
          <Logo />
          {siteConfig.demoName}
        </a>
        <div class="flex items-center gap-5 lg:hidden">
          <a href="https://wa.me/559189359657" target="_blank" class="btn btn-sm btn-primary">Solicitar Orçamento</a>
          <button
            type="button"
            class="collapse-toggle btn btn-square btn-outline btn-secondary"
            data-collapse="#navbar-block-4"
            aria-controls="navbar-block-4"
            aria-label="Toggle navigation"
          >
            <span class="icon-[tabler--menu-2] size-5.5 collapse-open:hidden"></span>
            <span class="icon-[tabler--x] hidden size-5.5 collapse-open:block"></span>
          </button>
        </div>
      </div>
      <div
        id="navbar-block-4"
        class="transition-height collapse hidden grow overflow-hidden font-medium duration-300 lg:flex lg:navbar-center"
      >
        <div class="flex gap-6 text-base text-base-content max-lg:mt-4 max-lg:flex-col lg:items-center">
          {navItems.map(item => (
            <a href={item.href} class={item.class}>{item.label}</a>
          ))}
        </div>
      </div>
      <div class="navbar-end max-lg:hidden">
        <a href="https://wa.me/559189359657" target="_blank" class="btn btn-primary">Solicitar Orçamento</a>
      </div>
    </div>
  </nav>
</header>
