---
import OptimizedImage from '@/components/shared/optimized-image.astro';
import { siteConfig } from '@/config';

type ServiceItem = {
  title: string;
  description: string;
  href?: string;
  img: { src: string; alt: string; loading?: 'lazy' | 'eager' };
};

interface Props {
  id?: string;
  heading?: string;
  subheading?: string;
  items?: ServiceItem[];
}

const {
  id = 'services',
  heading = 'Nossas Especialidades',
  subheading = null,
  items = [
    {
      "title": "Instalação de Divisórias Eucatex",
      "description": "",
      "href": "#",
      "img": {
        "src": "assets/img/servicos-divisorias-eucatex.jpg",
        "alt": "Instalação de Divisórias Eucatex",
        "loading": "lazy"
      }
    },
    {
      "title": "Divisórias/Forros de Gesso",
      "description": "",
      "href": "#",
      "img": {
        "src": "assets/img/servicos-gesso.jpg",
        "alt": "Serviço de Divisórias/Forros de Gesso",
        "loading": "lazy"
      }
    },
    {
      "title": "Drywall",
      "description": "",
      "href": "#",
      "img": {
        "src": "assets/img/servicos-drywall.jpg",
        "alt": "Serviço de Drywall",
        "loading": "lazy"
      }
    },
    {
      "title": "Forro PVC",
      "description": "",
      "href": "#",
      "img": {
        "src": "/assets/img/servicos-forro-pvc.jpg",
        "alt": "Serviço de Forro PVC",
        "loading": "lazy"
      }
    },
    {
      "title": "Vidros",
      "description": "",
      "href": "#",
      "img": {
        "src": "assets/img/servicos-vidros.jpg",
        "alt": "Serviço de Vidros",
        "loading": "lazy"
      }
    },
    {
      "title": "Piso Vinílico",
      "description": "",
      "href": "#",
      "img": {
        "src": "/assets/img/servicos-piso-vinilico.jpg",
        "alt": "Serviço de Piso Vinílico",
        "loading": "lazy"
      }
    },
    // {
    //   "title": "Porta Eucatex",
    //   "description": "",
    //   "href": "#",
    //   "img": {
    //     "src": "/assets/img/servico-porta-eucatex.png",
    //     "alt": "Serviço de Porta Eucatex",
    //     "loading": "lazy"
    //   }
    // }
  ]
} = Astro.props;
---

<section id={id}>
  <div class="bg-base-100 py-8 sm:py-16 lg:py-24">
    <div class={`${siteConfig.container}`}>
      <!-- Section Header -->
      <div class="mb-12 space-y-4 text-center sm:mb-16 lg:mb-24">
        <h2 class="text-2xl font-semibold text-base-content md:text-3xl lg:text-4xl">
          {heading}
        </h2>
        <!--<p class="text-xl text-base-content/80">{subheading}</p>-->
      </div>

      <!-- Cards Grid -->
      <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
        {
          items.map((item: ServiceItem) => (
            <div class="card-border card overflow-hidden shadow-none">
              <OptimizedImage
                src={item.img.src}
                alt={item.img.alt}
                loading={item.img.loading ?? 'lazy'}
              />
              <div class="card-body gap-3">
                <h3 class="card-title text-xl">{item.title}</h3>
                <!--<p class="mb-5">{item.description}</p>-->
                <!--<div class="card-actions">-->
                <!--  <a-->
                <!--    href={item.href ?? '#'}-->
                <!--    class="btn btn-gradient btn-primary"-->
                <!--    aria-label={`Read more about ${item.title}`}-->
                <!--  >-->
                <!--    Read More-->
                <!--    <span-->
                <!--      class="icon-[tabler&#45;&#45;arrow-right] size-5 rtl:rotate-180"-->
                <!--      aria-hidden="true"-->
                <!--    />-->
                <!--  </a>-->
                <!--</div>-->
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
